/* Target anchor elements with hyperlinks */
a[href] {
    text-decoration: none;
    color: var(--text-color);
}

/* Target visited state for links */
a[href]:visited {
    font-style: italic; /* Italicize the text for visited links */
}

/* Target hover state for links */
a[href]:hover {
    text-decoration: underline; /* Decorate links with underline when hovering */
}

/* Target active state for links */
a[href]:active {
    background-color: var(--color-light-grey); /* Set background color with variable */
}
